/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 30.10.2018, 16:11:26
    Author     : Lukáš 
*/
body{
    width: auto;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1vw;
}

nav {
  margin: 0;
  padding: 0;
  background-color: #b90008;
  font-family: 'Futura W04',sans-serif;
  color: white;
}
#logo {
  display: block;
  padding: 0 30px;
  float: left;
  font-size: 20px;
  line-height: 65px;
  height: 4vw;
  margin-bottom: 3vw;
}
nav:after {
  content: "";
  display: table;
  clear: both;
}
nav ul {
  float: right;
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
}
nav ul li {
  margin: 0px;
  display: inline-block;
  float: left;
  background-color: #b90008;
  font-family: 'Futura W04',sans-serif;
}
.posledni{
    margin-right: 3vw;
}
nav a {
  display: block;
  padding: 0 20px;
  color: #FFF;
  font-size: 20px;
  line-height: 65px;
  text-decoration: none;
}
nav ul li ul li:hover { background: #eb0008; }
nav a:hover { background-color: #eb0008; }
nav ul ul {
  display: none;
  position: absolute;
  top: 65px;
}
nav ul li:hover > ul { display: inherit; }
nav ul ul li {
  width: 170px;
  float: none;
  display: list-item;
  position: relative;
}
nav ul ul ul li {
  position: relative;
  top: -65px;
  left: 170px;
}
li > a:after { content: ' +'; }
.toggle, [id^=drop] {
 display: none;
}
li > a:only-child:after { content: ''; }

#baner{
    width: 100%;
    height: 30vw;
    background-image: url("../images/fotoB11.jpg");
    background-attachment: fixed;
    background-position: 50% 70%;
    background-size: cover;
    border-bottom: 4px solid red;
}
#baner2{
    width: 100%;
    height: 26vw;
    background-image: url("../images/fotoB11.jpg");
    background-attachment: fixed;
    background-position: 50% 0%;
    background-size: cover;
    border-top: 4px solid red;
    border-bottom: 4px solid red;
}
.tlacitko1:hover, .tlacitko2:hover{
    transition: 0.5s;
    background-color: #b90008;
}

.obalTable{
    margin: auto;
    width: 60%;
    padding: 10px;
}
.table1{
    border-collapse: collapse;
}

.table1 th{
    width: 10vw;
    background-color: #b90008;
    padding: 1vw;
    text-align: left;
    font-weight: 600;
    color: white;
}
.table1 th a{
    color: white;
    font-weight: 800;
    font-family: 'Futura W04',sans-serif;
}
.table1 tr:nth-child(even) {
    background-color: #f2f2f2;

}
.table1 td{
    width: 10vw;
    padding: 0.8vw;
}
.hlaska{
    text-align: center;
}

@media all and (max-width : 768px) {
#logo {
  display: block;
  padding: 0;
  width: 100%;
  text-align: center;
  float: none;
  /*margin-bottom: 3vw;*/
}
nav { margin: 0; }
.toggle + a,
.menu { display: none; }
.toggle {
  display: block;
  background-color: #b90008;
  padding: 0 20px;
  color: #FFF;
  font-size: 20px;
  line-height: 60px;
  text-decoration: none;
  border: none;
}
[id^=drop]:checked + ul { display: block; }
nav ul li {
  display: block;
  width: 100%;
}
nav ul ul .toggle,
nav ul ul a { padding: 0 40px; }
nav ul ul ul a { padding: 0 80px; }
nav a:hover,
nav ul ul ul a { background-color: #eb0008; }
nav ul li ul li .toggle,
nav ul ul a { background-color: #b90008; }
nav ul ul {
  float: none;
  position: static;
  color: #ffffff;
}
nav ul ul li:hover > ul,
nav ul li:hover > ul { display: none; }
nav ul ul li {
display: block;
width: 100%;}
nav ul ul ul li { position: static;}

    .article{
        height: 58vw;
        overflow: auto;
        width: 100%;
        margin-left: 2.5%;
        margin-right: 2.5%;
        margin-bottom: 2%;
        margin-top: 2%;
        float: left;
        background-color: white;
        border: 0.1vw solid #ececec;
    }
    .foto1{
        width: 100%;
        height: 30vw;
        overflow: hidden;
    }
    .cln1{
        height: 13vw;
        width: 95%;
        margin-top: 1vw;
        text-align: justify;
        padding-left: 0.3vw;
        padding-right: 0.3vw;
        padding-bottom: 0.7vw;
    }
    .name{
        margin: 1vw 0vw 1vw 0vw;
        color:black;
        text-decoration: none;
        padding-left: 0.2vw;
        font-size: 4vw;
        font-family: 'Futura W04',sans-serif;
    }
    .name1{
        color:black;
        text-decoration: none;
        padding-left: 0.2vw;
        font-size: 2.5vw;
        font-family: 'Futura W04',sans-serif;
    }
    .popisZbozi{
        font-size: 3vw;
        margin-top: 0;
    }
    .a{
        margin-top: 2vw;
        color:black;
        text-decoration: none;
    }
    .tlacitko1{
        margin-left: 2.5%;
        width: 85%;
        margin-bottom: 0.5vw;
        background-color: #920008;
        border: none;
        color: white;
        padding: 0.6vw 1vw;
        text-align: center;
        text-decoration: none;
        display: inline-block;

        cursor: pointer;
        box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.6);
    }

    .tlacitko2{
        margin-top: 1vw;
        margin-left: 3%;
        width: 28%;
        margin-bottom: 0.5vw;
        background-color: #920008;
        border: none;
        color: white;
        padding: 0.6vw 1vw;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        cursor: pointer;
        box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.6);
    }
    .obalTlZbozi{
        margin: 0 auto;
        display: table;
        width: 90vw;
    }

    .obalCisel{
        width: 100%;
        margin-top: 3vw;
        text-align: center;

        color: black;
    }

    .stranky{
        margin-right: 1vw;
        margin-left: 1vw;
        font-weight: normal;
    }
    .aktualStr{
        margin-right: 1vw;
        margin-left: 1vw;
        color:dodgerblue;
    }

    #baner{
        background-attachment: local;
        background-position: 50% 60%;
    }
    #baner2{
        background-image: url("../images/u_foto.jpg");
        background-attachment: local;
        background-position: 50% 50%;
    }

    .obalTable{

        width: 100%;
        padding: 1vw;
    }

    .table1 th{
        font-size: 3.2vw;
        width: 14vw;
    }
    .table1 th a{
        /*color: white;
        font-weight: 800;
        font-family: 'Futura W04',sans-serif;*/
    }
    .table1 td{
        font-size: 3.2vw;
        width: 14vw;
        padding: 1vw;
    }

body{
    font-size: 5vw;
}
}
@media all and (max-width : 330px) {
nav ul li {
  display: block;
  width: 94%;
}
#logo{
    /*margin-bottom: 3vw;*/
}

}



/*//IKONY A JEJICH ANIMACE*/
.baby:hover .text{
    color: #920008;
}
.text{
    margin-top: 2.5vw;
    font-family: monospace;
    font-size: 3vw;
}
.parent{
    box-sizing: border-box;
    height: 30vw;
    margin-left: 7.5%;
    margin-top: -1vw;
    margin-right: 7.5%;

}
.baby { 
    transition: all .2s ease-in-out; 
    float: left;
    width: 50%;
    height: 100%;
    background-color: #f3f3f3;
    text-align: center;
    color: black;
}
.baby:hover{ 
    transform: scale(1.1); 
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);

}
.icon1{
    margin-top: 4vw;
    height: 16vw;
    width: 20vw;
}
.icon2{
    margin-top: 4vw;
    margin-left: 15%;
    height: 16vw;
    width: 16vw;
}
.icon3 {
    margin-top: 4vw; 
    height: 16vw;
    width: 16vw;
}
.icon4 {
    margin-top: 4vw;
    height: 16vw;
    width: 16vw;
}
.baby:hover .icon1,.baby:hover .icon2,.baby:hover .icon3,.baby:hover .icon4 {
    -webkit-animation-name: icon;
    animation-name: icon;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
}
@keyframes icon{
    25% {
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }
    50%{
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg); 
    }
    75%{
        -webkit-transform: rotate(270deg);
        transform: rotate(270deg); 
    }
    100%{
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg); 
    }
}

/*O NÁS*/
.pruh{
    width: 100%;
    height: 50vw;
    background-image: url("../images/pruh2.jpg");
    background-size: 100%;
    padding-top: 4vw;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
}
.skola{
    background-color: #ffffff;
    border-radius: 1vw;
    width: 85%;
    margin-left: 7.5%;
    margin-right: 7.5%;
    height: 40vw;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
}
.foto{
    height: 35vw;
    border-radius: 1vw 0vw 0vw 1vw;
    width: 90%;
    display: none;
}
.text1{
    font-size: 2.5vw;
    font-family: Georgia, Palatino, 'Palatino Linotype', Times, 'Times New Roman', serif;
    text-align: justify;
    padding-right: 4%;
    padding-left: 4%;
}
.nadpis2{
    font-size: 3vw;
    text-align: center;
    padding-top: 2%;
}
.tlacitko{
    margin-top: 2vw;
    margin-left: 40%;
    background-color: #920008;
    border: none;
    color: white;
    padding: 1vw 2vw;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 2.5vw;
    cursor: pointer;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.6);

    box-shadow: inset 0 0 0 0 #920008;
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    transition: all ease 0.5s;
}
.tlacitko:hover{
    box-shadow: inset 23vw 0  0 0 #d40008;
}

/*KONTAKT*/
.kontakt{
    margin-top: 35vw;
    border-top: 2px solid red;
}
.contact_div1{ 
    margin-left: 10%;
    margin-top: 1vw;
    margin-bottom: 1vw;
    font-size: 2.5vw;
}
.contact_div2{ 
    margin-left: 10%;
    margin-top: 1vw;
    margin-bottom: 1vw;
    font-size: 2.5vw;
    display: none;
    visibility: visible;
}
.mapa{
    margin-left: 10%;
    margin-top: 1vw;
    margin-bottom: 1vw;
}
.mapa_rozmery{
    width: 90%;
    height: 40vw;
}
.nadpis_kontakt{
    text-align: center;
    font-family: Georgia, Palatino, 'Palatino Linotype', Times, 'Times New Roman', serif;
    font-size: 3vw;
    font-weight: 300;
    color: red;
    margin-bottom: 1%;
}

/*PATIČKA*/
.footer{
    font-family: 'Futura W04',sans-serif;
    background-color: #b90008;
    height: 5vw;
    color: white;
    clear: both;
    width: 100%;
    bottom: 0;
    left: 0;
    text-align: center;
    font-size: 2.5vw;
}
.footer1{
    text-align: left;
    width: 100%;
    font-weight: 600;
    padding-top: 0.8vw;
}
.footer1text1{
    width: 100%;
    float: left;
    text-align: center;
}
/*REGISTRACE - PRIHLASENI*/
input[type=text], [type=password], [type=email], [type=number]{
    width: 50%;
    padding: 1.5vw 1.5vw;
    margin: 0.8vw 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 1vw;
    box-sizing: border-box;
    margin-left: 25%;
    box-shadow: 0vw 0.1vw 0.2vw #888888;
}
input[type=text]:hover, [type=password]:hover, [type=email]:hover, [type=number]:hover{
    box-shadow: 0vw 0.17vw 0.3vw #920008;
}
select{
    width: 50%;
    padding: 1.5vw 1.5vw;
    margin: 0.8vw 0;
    margin-left: 25%;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 1vw;
    box-sizing: border-box;
    box-shadow: 0vw 0.1vw 0.2vw #888888;
}
input[type=submit] {
    width: 50%;
    background-color: #b90008;
    color: white;
    padding: 1.5vw 1.5vw;
    border: none;
    border-radius: 1vw;
    cursor: pointer;
    margin-left: 25%;
    display: block;
    margin: 0.8vw auto;
    margin-bottom: 5%;
}

input[type=submit]:hover{
    box-shadow: 0vw 0.1vw 0.2vw #d40008;
    background-color: #920008;
}

.textarea{
    width: 50%;
    margin-left: 25%;
    padding: 0.9vw 1vw;
    box-sizing: border-box;
    border: 0.1vw solid #ccc;
    border-radius: 0.3vw;
    font-size: 1vw;
    resize: none;
    margin-bottom: 0.7vw;
    margin-top: 0.7vw;
}

.label{
    font-size: 1.2vw;
    display: block;
    text-align: center;
}
label{
    font-size: 1.2vw;
}
.fileUpload {
    overflow: hidden;
    width: 50%;
    margin-left: 25%;
    background-color: #b90008;
    color: white;
    padding: 0.9vw 0.9vw;
    border: none;
    border-radius: 0.3vw;
    cursor: pointer;
    text-align: center;
    position: relative;
    display: block;
    margin: 0.8vw auto;
}
.fileUpload input.file22 {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 1vw;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}
.nadpis_vedlejsi_stranka{
    text-align: center;
    font-family: Georgia, Palatino, 'Palatino Linotype', Times, 'Times New Roman', serif;
    font-size: 5vw;
    font-weight: 300;
    
}

/*ČLÁNKY*/

.cl{
   width: 80%;
   margin-left: 10%;
   margin-top: 5vw;
   overflow: auto;
}


.zkft{
    width: 100%;
}
/*ostatni*/
.article{
    height: 58vw;
    overflow: auto;
    width: 100%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-bottom: 2%;
    margin-top: 2%;
    float: left;
    background-color: white;
    border: 0.1vw solid #ececec;
}
.foto1{
    width: 100%;
    height: 30vw;
    overflow: hidden;
}
.cln1{
    height: 13vw;
    width: 95%;
    margin-top: 1vw;
    text-align: justify;
    padding-left: 0.3vw;
    padding-right: 0.3vw;
    padding-bottom: 0.7vw;
}
.name{
    margin: 1vw 0vw 1vw 0vw;
    color:black;
    text-decoration: none;
    padding-left: 0.2vw;
    font-size: 4vw;
    font-family: 'Futura W04',sans-serif;
}
.name1{
    color:black;
    text-decoration: none;
    padding-left: 0.2vw;
    font-size: 2.5vw;
    font-family: 'Futura W04',sans-serif;
}
.popisZbozi{
    font-size: 3vw;
    margin-top: 0;
}
.a{
    margin-top: 2vw;
    color:black;
    text-decoration: none;
}
.tlacitko1{
    margin-left: 2.5%;
    width: 85%;
    margin-bottom: 0.5vw;
    background-color: #920008;
    border: none;
    color: white;
    padding: 0.6vw 1vw;
    text-align: center;
    text-decoration: none;
    display: inline-block;

    cursor: pointer;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.6);
}

.tlacitko2{
    margin-top: 1vw;
    margin-left: 3%;
    width: 28%;
    margin-bottom: 0.5vw;
    background-color: #920008;
    border: none;
    color: white;
    padding: 0.6vw 1vw;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.6);
}
.obalTlZbozi{
    margin: 0 auto;
    display: table;
    width: 90vw;
}

.obalCisel{
    width: 100%;
    margin-top: 3vw;
    text-align: center;

    color: black;
}
a{
    color: black;
}
.stranky{
    margin-right: 1vw;
    margin-left: 1vw;
    font-weight: normal;
}
.aktualStr{
    margin-right: 1vw;
    margin-left: 1vw;
    color:dodgerblue;
}





/*PC VERZE*/
@media(min-width:1200px){
#logo{
    margin-bottom: 0vw;
}
#baner{
    height: 20vw;
    background-position: 50% 80%;
}
#baner2{
    height: 16vw;
    background-position: 50% 70%;
}
.text{
    font-size: 1.5vw;
}

/*/IKONY A JEJICH ANIMACE*/
.parent{
    box-sizing: border-box;
    width: 85%;
    height: 18vw;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);

}
.baby { 
    width: 25%;
}
.icon1{
    margin-top: 2vw;
    height: 7vw;
    width: 8vw;
}
.icon2{
    margin-top: 2vw;
    height: 7vw;
    width: 7vw;
}
.icon3 {
    margin-top: 2vw; 
    height: 7vw;
    width: 7vw;
}
.icon4 {
    margin-top: 2vw;
    height: 7vw;
    width: 7vw;
}

/*O NÁS*/
.pruh{
    height: 29vw;
}
.skola{
    height: 25vw;
}
.fotka{
    float: left;
    width: 50%;
}
.foto{
    height: 25vw;
    display: inline;
}
.text1{
    float: left;
    width: 48%;
    font-size: 1.2vw;
    padding-right: 2%;
    padding-left: 0;
}
.nadpis2{
    font-size: 1.3vw;
    margin-top: 10%;
}
.tlacitko{
    margin-top: 1.5vw;
    margin-left: 77%;
    font-size: 1vw;
}

/*KONTAKT*/
.kontakt{
    margin-top: 3vw;
    border-bottom: 2px solid red;
}
.contact_div1{
    float: left;
    width: 25%; 
    margin-left: 7.5%;
    font-size: 1vw;
}
.contact_div2{
    float: left;
    width: 25%; 
    font-size: 1vw;
    display: block;
    margin-left: 0;
}
.mapa{
    float: left;
    width: 35%;
    margin-right: 7.5%;
    margin-left: 0;
}
.mapa_rozmery{
    width: 600px;
    height: 450px;
}
.nadpis_kontakt{
    font-size: 1.5vw;
}

/*PATIČKA*/
.footer{
    height: 3vw;
    font-size: 1vw;
}

/*REGISTRACE - PRIHLASENI*/
input[type=text], [type=password], [type=email], [type=number]{
    width: 25%;
    padding: 0.9vw 0.9vw;
    border-radius: 0.3vw;
    margin-left: 37.5%;
}
select{
    width: 25%;
    padding: 0.9vw 0.9vw;
    border-radius: 0.3vw;
    margin-left: 37.5%;
}
input[type=submit] {
    width: 25%;
    padding: 0.9vw 0.9vw;
    border-radius: 0.3vw;
    margin-left: 37.5%;
}

.textarea{
    width: 25%;
    margin-left: 37.5%;
}
.nadpis_vedlejsi_stranka{
    font-size: 2.7vw; 
}
.label{
    font-size: 1.2vw;
}
label{
    font-size: 1.2vw;
}
.fileUpload {
    overflow: hidden;
    width: 23%;
    margin-left: 37.5%;
}
 .article{
        height: 28vw;
        overflow: auto;
        width: 28.05%;
        margin-left: 2.5%;
        margin-right: 2.5%;
        margin-bottom: 2%;
        margin-top: 2%;
        float: left;
        background-color: white;
        border: 0.1vw solid #ececec;
    }
    .foto1{
        width: 100%;
        height: 20.5vw;
        overflow: hidden;
    }
    .cln1{
        height: 7vw;
        width: 95%;
        margin-top: -5vw;
        text-align: justify;
        padding-left: 0.3vw;
        padding-right: 0.3vw;
        padding-bottom: 0.7vw;
    }
    .name{
        margin-top: -2vw;
        color:black;
        text-decoration: none;
        padding-left: 0.2vw;
        font-size: 1.7vw;
        font-family: 'Futura W04',sans-serif;
    }
    .name1{
        color:black;
        text-decoration: none;
        padding-left: 0.2vw;
        font-size: 1vw;
        font-family: 'Futura W04',sans-serif;
    }
    .a{
        margin-top: 2vw;
        color:black;
        text-decoration: none;
    }
    .popisZbozi{
        font-size: 1vw;
        margin-top: 0;
    }
    .tlacitko1{
        margin-left: 2.5%;
        width: 95%;
        margin-bottom: 0.5vw;
        background-color: #920008;
        border: none;
        color: white;
        padding: 0.6vw 1vw;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 1vw;
        cursor: pointer;
        box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.6);
    }

    .tlacitko2{
        margin-top: 1vw;
        margin-left: 3%;
        width: 25%;
        margin-bottom: 0.5vw;
        background-color: #920008;
        border: none;
        color: white;
        padding: 0.6vw 1vw;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        cursor: pointer;
        box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.6);
    }
    .obalTlZbozi{
        margin: 0 auto;
        display: table;
        width: 50vw;
    }

    .obalCisel{
        width: 100%;
        margin-top: 3vw;
        text-align: center;
        font-size: 1.5vw;
        color: black;
    }

    .stranky{
        margin-right: 0.2vw;
        margin-left: 0.2vw;
        font-weight: normal;
    }
    .aktualStr{
        margin-right: 0.2vw;
        margin-left: 0.2vw;
        color:dodgerblue;
    }
    .cl{
        margin-top: 1vw;

    }

}

